on boot
    # Backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/brightness

    # Real notification light
    chown system system /sys/class/leds/green/brightness
    chmod 660 /sys/class/leds/green/brightness

    chown system system /sys/class/leds/green/breath
    chmod 660 /sys/class/leds/green/breath

    # Camera motor light
    chown system system /sys/class/leds/blue/brightness
    chmod 660 /sys/class/leds/blue/brightness

    chown system system /sys/class/leds/blue/breath
    chmod 660 /sys/class/leds/blue/breath

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.xiaomi_raphael
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical
