type hal_fod_raphael, coredomain, domain;
hal_server_domain(hal_fod_raphael, hal_lineage_fod)

type hal_fod_raphael_exec, exec_type, file_type;
init_daemon_domain(hal_fod_raphael)

allow hal_fod_raphael hal_fingerprint_hwservice:hwservice_manager find;
allow hal_fod_raphael sysfs_fod_hbm:file rw_file_perms;
allow hal_fod_raphael sysfs_tp_fodstatus:file rw_file_perms;

binder_call(hal_fod_raphael, hal_fingerprint)
