hal_client_domain(platform_app, hal_misys)

allow platform_app {
    DisplayFeatureControl
    miui_multi_display
    perfshielder
    ProcessManager
}:service_manager find;

allow platform_app app_data_file:file execute;
