on init
    mount none /system/overlay/BluetoothResCommon.apk /vendor/overlay/BluetoothResCommon.apk bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind

service vendor.motor /vendor/bin/hw/vendor.xiaomi.hardware.motor@1.0-service
    class hal
    user system
    group system
    disabled

on property init.svc.vendor.motor=running
    stop vendor.motor
