on post-fs-data
    write /sys/class/drm/card0-DSI-1/dim_layer_enable 1

service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled
